<launch>
  
  <!-- robot_ip: IP-address of the robot's socket-messaging server -->
  <arg name="robot_ip" default="192.168.0.143" doc="IP of the controller"/>
  <arg name="limited" default="true" doc="If true, limits joint range [-PI, PI] on all joints." />
  <arg name="UI" default="false" doc="If true, it will bring up the rviz UI"/>
  
  <include file="$(find ur_modern_driver)/launch/ur3_bringup.launch">
    <arg name="robot_ip" value="$(arg robot_ip)"/>
  </include>

  <include file="$(find ur3_moveit_config)/launch/ur3_moveit_planning_execution.launch">
    <arg name="limited" value="$(arg limited)"/>
  </include>

  <group if="$(arg UI)">

    <include file="$(find ur3_moveit_config)/launch/moveit_rviz.launch" >
      <arg name="config" value="true"/>
    </include>
 
  </group>
 

</launch>
